<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Название компании</h1>
    <p>Номер компании: +123456789</p>
    <div class="social-links">
      <a href="https://www.facebook.com">Facebook</a>
      <a href="https://www.twitter.com">Twitter</a>
      <a href="https://www.instagram.com">Instagram</a>
    </div>
  </div>
</body>
</html>